<!DOCTYPE html>
<html>

<head>
  <title>
    Carte des grands ensembles de Marseille
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Ce site localise 80 grands ensembles de Marseille et valorise le travail monographique du Ministère de la Culture mené sur ces ensembles.">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="stylesheets/leaflet-sidebar.min.css" />
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="icon" type="image/png" href="/img/icons8-building-color-16.png" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K6YLY6M239"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-K6YLY6M239');
  </script>
</head>

<body>
  <div id="map">
    <div id="filters">
      <%- include('./hover-menu.ejs') %>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="javascripts/leaflet-sidebar.min.js"></script>
  <script src="javascripts/leaflet.zoomhome.js"></script>
  <script src="javascripts/flyto.js"></script>
  <script src="javascripts/data_grands_ensembles.js"></script>
  <script src="javascripts/webmap-v2.js"></script>
  <script src="javascripts/sidebar-v2.js"></script>
</body>

</html>